.btn {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.75rem;
  transition: all 0.3s;
  margin: 0.75rem 0;
}

.btn--primary {
  background: #1e293b;
  color: #f1f5f9;
  &:hover {
    background: #334155;
  }
}

.btn--secondary {
  background: #52525b;
  color: #f3f4f6;
}

.btn--outline {
  border: 1px solid #d1d5db;
  color: #a1a1aa;
  background: transparent;
}

.btn--danger {
  border: 1px solid #be123c;
  color: #be123c;
  background: transparent;
}
